h1 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 40px 8px 10px 8px; 
    color: #919191;
  }

.primer:hover {
   
    transition-duration: 0.5s;
    width: 30%;
    color: blueviolet;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.redes {
        width: 4%;
        height: 4%;
}

.rifas {
    background-color: aliceblue;
    padding: 2%;
    
}

.rifas .img_rifas{
        width: 30%;
        height: 30%;
        padding: 1%;
}

.text_banner {
    text-align: center;
    font-size: 17px;
}
